# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
resources/.DS_Store
.DS_Store
/.tmp
/node_modules
/vite-src/node_modules
/vite-src/dist
